<aside>
  <a title="Créer un compte" class="butt join" rel="external" (click)="navigateToRegister()"><i
      class="i-register"></i> Créer un compte <small>Rejoignez l'aventure Glory</small></a>
  <a title="Téléchargez le jeu"
    class="butt join" rel="external" href="https://play-glory.net/download"><i class="i-user"></i> Rejoignez-nous
    <small>Téléchargez le jeu</small></a>
  <a title="Votez pour nous" class="butt vote" rel="external"
    href="https://play-glory.net/vote/spnet"><i class="i-tokens"></i> Votez <small>Gagnez des
      ogrines</small></a><!---->
  <a href="https://discord.gg/playglory" title="Discord" target="_blank"
    class="butt discord" rel="external"><i class="i-discord"></i> Discord <small>Rejoignez-nous sur notre
      discord</small></a>
</aside>
