<footer>
    <img src="../../../assets/logo.png  " alt="Glory">
    <div class="right">
      <nav>
        <ul>
          <li><a title="Rejoindre" href="https://play-glory.net/download"><i class="fa fa-user-plus"></i>Rejoindre</a></li>
          <li><a title="Classements" href="https://play-glory.net/rankings/experience"><i class="fa fa-trophy"></i>Classements</a></li>
          <li><a title="Shop" href="https://play-glory.net/donate"><i class="fa fa-shopping-cart"></i>Donation</a></li>
          <li><a title="Discord" rel="external" target="_blank" href="https://play-glory.net/download"><i class="fa fa-comments"></i>Discord</a></li>
        </ul>
      </nav>
      <div class="copyright">Website créé pour <strong>Glory</strong></div>
    </div>
  </footer>
  