<header>
  <ul class="langs">
    <li class="select">
      <a href="https://play-glory.net/"><img src="../../assets/fr.svg" alt="fr"></a>
      <a href="https://play-glory.net/"><img src="../../assets/en.svg" alt="en"></a>


    </li>
  </ul>
  <a id="logo" (click)="navigateTohome()"><img src="../../assets/logo.png" alt="Glory"></a>
  <nav>
    <ul>
      <li>
        <a class="link" href="https://play-glory.net/download"><i class="fa fa-user-plus"></i>Télécharger</a>
      </li>
      <li>
        <a class="link" href="https://play-glory.net/rankings/experience"><i class="fa fa-trophy"></i>Classements</a>
      </li>
      <li>
        <a class="link" href="https://play-glory.net/donate"><i class="fa fa-shopping-cart"></i>Donation</a>
      </li>
      <li>
        <a class="blue"><i class="fa fa-user-plus"></i>Créer un compte de jeu</a>
      </li>
      <li *ngIf="!isLoggedIn()">
        <a class="link" (click)="navigateTologin()">
          <i class="fa-solid fa-user-lock"></i>Connexion
        </a>
      </li>
    </ul>
  </nav>
  <div class="nav-btn" data-nav="">
    <div>
      <span></span><span></span><span></span>
    </div>
  </div>
  <div class="right">
    <div *ngIf="isLoggedIn()" title="" class="user user-auth">
      <div class="user-title">Mon compte</div><i class="i-user"></i><span></span>
      <ul>
        <li><a href="https://play-glory.net/user/account">Mon compte</a></li>
        <li></li>
        <li><a href="https://play-glory.net/user/game-accounts/all">Mes comptes de jeu</a></li>
        <li><a class="blue" href="https://play-glory.net/user/game-accounts/new">Créer un compte de jeu</a></li>
        <li><button class="red" (click)="logout()"><span class="ico_close"></span> Déconnexion</button></li>
      </ul>
    </div>
    <a *ngIf="!isLoggedIn()" (click)="navigateTologin()">
      <div data-open="log" class="user" title="Se connecter ?"><i class="fa-solid fa-user-lock"
          style="color: rgb(247, 188, 72); "></i>
      </div>
    </a>
  </div>
</header>
