<div id="news">
  <div class="show">
  <article><div class="header" style="background-image: url(&quot;https://astra-dl.b-cdn.net/thumbnails/rota18112023.jpg&quot;);"><time pubdate="">18<span>Nov</span></time><h2><img src="./template/img/i_news.png">Rotation des apparats : semaine 34</h2></div><div class="content"><div class="paragraphe">
  Bonsoir à tous aventuriers&nbsp; !
  Nous nous retrouvons en cette soirée pluvieuse de novembre pour notre toute nouvelle rotation des apparats, la 32ième. Au programme cette semaine :
  Apparats

  Pack Flambourou&nbsp;[NOUVEAU - Fin de l'offre : 2023-11-26 23:00:00]❗
  Pack Mimistrale [NOUVEAU&nbsp;- Fin de l'offre : 2023-11-26 23:00:00]❗
  Pack Amphibulle [NOUVEAU&nbsp;- Fin de l'offre : 2023-11-26 23:00:00]❗
  Pack Tapipou [NOUVEAU&nbsp;- Fin de l'offre : 2023-11-26 23:00:00]❗
  Bouclier Weine du Sud [DURÉE LIMITÉE - Fin de l'offre : 2023-11-21 13:00:00]⌛
  Cadeau Suiveur : Soki [DURÉE LIMITÉE&nbsp;- Fin de l'offre : 2023-11-21 13:00:00]⌛
  Pack du Guerrier Sanctifié : Prestige [DURÉE LIMITÉE&nbsp;- Fin de l'offre : 2023-11-21 13:00:00]⌛
  Pack des Vestiges de Parchomancia [DURÉE LIMITÉE&nbsp;- Fin de l'offre : 2023-11-21 13:00:00]⌛
  Pack Chapeau Colorivants v2 [DURÉE LIMITÉE&nbsp;- Fin de l'offre : 2023-11-26 23:00:00]⌛
  Pack Cape Colorivants v2 [DURÉE LIMITÉE&nbsp;- Fin de l'offre : 2023-11-26 23:00:00]⌛
  Pack Boucliers Colorivants v2 [DURÉE LIMITÉE&nbsp;- Fin de l'offre : 2023-11-26 23:00:00]⌛

  Promotions :

  Débutez sur Glory : - 25% sur toute la catégorie et cela jusqu'au 2023-11-21 13:00:00
  Gemmes Spirituelles : - 25% sur toute la catégorie et cela jusqu'au 2023-11-21 13:00:00

  ----------
  Pour celles et ceux qui ne le savent pas encore, vous avez la possibilité de visualiser ces apparats équipés directement en jeu via la fonction&nbsp;Preview&nbsp;🔎 ou bien directement dans la boutique en consultant l'objet/l'offre en question !
  Nous vous remercions de l'intérêt que vous portez à notre serveur et vous souhaitons une excellente rentrée ainsi qu'une très bonne expérience de jeu sur&nbsp;Bubble !
  &nbsp;
  &nbsp;</div></div><div class="bottom"><span>18 Nov 2023, 17:25:54</span><a class="btn comment" href="https://play-glory.net/articles/216/rotation-des-apparats-semaine-34"><i class="fa fa-comments"></i></a></div></article></div><div class="show"><article><div class="header" style="background-image: url(&quot;https://i.imgur.com/kbNc7Ew.jpg&quot;);"><time pubdate="">04<span>Nov</span></time><h2><img src="./template/img/i_news.png">Profitez d'un bonus de +35% sur vos donations !</h2></div><div class="content"><div class="paragraphe">Besoin de compléter ce qui vous manque ou envie d'obtenir les derniers apparats ?
  C'est l'occasion parfaite pour plonger dans l'aventure avec un petit plus qui fait toute la différence ! 😍Profitez dès à présent d'un&nbsp;bonus de +35% d'ogrines&nbsp;sur vos donations&nbsp;à partir de 10 euros dépensés&nbsp;!

  Information&nbsp;:&nbsp;pour les nouveaux joueurs,&nbsp;le bonus du premier achat +30% ne sera pas pris en compte. Il le sera de nouveau dès que l'offre aura expiré à savoir le&nbsp;lundi 06/11, 13h.
  Bonne rentrée sur les serveurs&nbsp;Bubble&nbsp;🙂</div></div><div class="bottom"><span>04 Nov 2023, 17:52:52</span><a class="btn comment" href="https://play-glory.net/articles/215/profitez-dun-bonus-de-35-sur-vos-donations"><i class="fa fa-comments"></i></a></div></article></div><div class="show"><article><div class="header" style="background-image: url(&quot;https://i.imgur.com/1Ci6Ody.png&quot;);"><time pubdate="">04<span>Nov</span></time><h2><img src="./template/img/i_news.png">Rotation des apparats : semaine 32</h2></div><div class="content"><div class="paragraphe">
  Bonsoir à tous aventuriers de&nbsp;Bubble&nbsp;!
  Nous nous retrouvons en cette soirée pluvieuse de novembre pour notre toute nouvelle rotation des apparats, la 32ième. Au programme cette semaine :

  Pack Flambourou&nbsp;[NOUVEAU]❗
  Pack Colorivant&nbsp;[DURÉE LIMITÉE]⌛
  Pack de Parchomancie

  Place aux présentations...
  1. Pack Flambourou❗
  Nous continuons dans la thématique Osatopia et vous proposons cette semaine le&nbsp;Pack Flambourou&nbsp;🔥La source de la flamme qui jaillit de cette panoplie n'a jamais pu être déterminée. Assurez-vous de ne pas vous brûler malencontreusement.&nbsp;
  Ce pack non colorable contient les apparats qui suivent :
  ◼️ Bandeau de Flambourou&nbsp;(coiffe)
  ◼️ Queue de Flambourou&nbsp;(cape)
  ◼️ Bouclier de Flambourou&nbsp;(bouclier)
  ◼️ Flambourou&nbsp;(familier)

  Vous pourrez le débloquer pour&nbsp;425 ogrines&nbsp;(135 ogrines/item -&nbsp;150&nbsp;pour le familier). Feu, dresseur...
  2. Pack Colorivant&nbsp;⌛
  Sans doute l'un de nos packs les plus prisés, le&nbsp;Pack Colorivant&nbsp;saura vous combler avec sa diversité incontestée.
  Chaque item cape, coiffe et bouclier possède un total de&nbsp;10 apparences.
  Ce pack au prix de&nbsp;625 ogrines&nbsp;vous fournira également la nourriture vous permettant de débloquer toutes les apparences.
  - Ce pack disparaîtra de la boutique lundi 06/11 à 13h 🗓️ -
  3. Pack de Parchomancie
  Le&nbsp;Pack de Parchomancie&nbsp;reste 1 semaine de plus !
  On raconte que le Pack de Parchomancie pourrait vous faire passer pour un apprenti sorcier, vous donnant cet air énigmatique du plus bel effet.
  Ce dernier contient les items&nbsp;colorivants&nbsp;suivants :
  ◼️ Coiffe de Parchomancie&nbsp;(coiffe)
  ◼️ Cape de Parchomancie&nbsp;(cape)
  ◼️ Bouclier de Parchomancie&nbsp;(bouclier)

  Vous pourrez mettre la main dessus dès&nbsp;495 ogrines&nbsp;(175 ogrines/unité).
  ----------
  Pour celles et ceux qui ne le savent pas encore, vous avez la possibilité de visualiser ces apparats équipés directement en jeu via la fonction&nbsp;Preview&nbsp;🔎 ou bien directement dans la boutique en consultant l'objet/l'offre en question !
  Nous vous remercions de l'intérêt que vous portez à notre serveur et vous souhaitons une excellente rentrée ainsi qu'une très bonne expérience de jeu sur&nbsp;Bubble !</div></div><div class="bottom"><span>04 Nov 2023, 17:40:53</span><a class="btn comment" href="https://play-glory.net/articles/214/rotation-des-apparats-semaine-32"><i class="fa fa-comments"></i></a></div></article></div><div class="show"><article><div class="header" style="background-image: url(&quot;https://i.imgur.com/vZvUes7.png&quot;);"><time pubdate="">29<span>Oct</span></time><h2><img src="./template/img/i_news.png">Dungeon Rusher en folie : vague 2 !</h2></div><div class="content"><div class="paragraphe">Aventuriers&nbsp;Bubble,
  Comme vous le savez désormais, ou peut-être pas encore, l'évènement&nbsp;Dungeon Rusher&nbsp;est quasi-permanent (quasi parce qu'il pourra nous arriver d'organiser, comme à notre habitude, d'autres gros évents sur certains week-ends). Le fait est que&nbsp;vous n'allez pas vous ennuyer&nbsp;!
  ----------------------------------------------------

  Pour celles et ceux qui ne seraient pas familiers avec le&nbsp;Dungeon Rusher,&nbsp;il&nbsp;s'agit d'un évent durant lequel vous devrez affronter chaque week-end un boss de donjon afin de récupérer son mythique bouclier trophée.
  Calendrier Novembre - Décembre

  Chaque vague sera active&nbsp;dès le reboot dans la nuit du vendredi au samedi&nbsp;et sera effective&nbsp;jusqu'au reboot de la nuit du dimanche au lundi. Un pop-up apparaîtra à votre connexion dès lors qu'un&nbsp;Dungeon Rusher&nbsp;aura été lancé !

  ----------------------------------------------------
  Arriverez-vous à collectionner tous les boucliers trophées ?
  Bon jeu sur les serveurs&nbsp;Bubble !</div></div><div class="bottom"><span>29 Oct 2023, 17:00:32</span><a class="btn comment" href="https://play-glory.net/articles/213/dungeon-rusher-en-folie-vague-2"><i class="fa fa-comments"></i></a></div></article></div><div class="show"><article><div class="header" style="background-image: url(&quot;https://i.imgur.com/dTypNyx.jpg&quot;);"><time pubdate="">28<span>Oct</span></time><h2><img src="./template/img/i_news.png">Rotation des apparats : semaine 31 - Halouine est là !</h2></div><div class="content"><div class="paragraphe">
  Bonsoir à tous aventuriers de&nbsp;Bubble&nbsp;!
  Nous nous retrouvons en ce jour pour notre toute nouvelle rotation des apparats. Au programme cette semaine :
  ◼️ Pack Amphibulle&nbsp;[NOUVEAU]❗
  ◼️ Pack de Parchomancie
  ◼️ Pack Belliciste
  ◼️ Soki : votre familier suiveur préféré&nbsp;[DUREE LIMITEE]⌛
  ◼️ Boucliew de la Weine Dussud&nbsp;[DUREE LIMITEE]⌛

  1. Pack Amphibulle&nbsp;[NOUVEAU]
  Le Pack Amphibulle vous fera miroiter comme le nacre d’une écaille de pichon. Ou comme du mucus de titard. Il contient les apparats non colorivants qui suivent :
  ◼️ Sac Écaillé d’Amphibulle&nbsp;(cape)
  ◼️ Casquette d’Amphibulle&nbsp;(coiffe)
  ◼️ Bouclier d’Amphibulle&nbsp;(bouclier)

  Vous pourrez le débloquer pour&nbsp;425 ogrines&nbsp;(135 ogrines/item -&nbsp;150&nbsp;pour le familier). Feu, dresseur...
  2. Pack de Parchomancie
  On raconte que le&nbsp;Pack de Parchomancie&nbsp;pourrait vous faire passer pour un apprenti sorcier, vous donnant cet air énigmatique du plus bel effet.&nbsp;
  Ce dernier contient les items&nbsp;colorivants&nbsp;suivants :
  ◼️ Coiffe de Parchomancie&nbsp;(coiffe)
  ◼️ Cape de Parchomancie&nbsp;(cape)
  ◼️ Bouclier de Parchomancie&nbsp;(bouclier)

  Vous pourrez mettre la main dessus dès&nbsp;495 ogrines&nbsp;(175 ogrines/unité).
  3. Pack Belliciste
  Le&nbsp;Pack Belliciste&nbsp;est aussi versatile que majestueux ! Il contient les apparats&nbsp;colorivants&nbsp;suivants :
  ◼️ Coiffe Belliciste&nbsp;(coiffe)
  ◼️ Cape Belliciste&nbsp;(cape)
  ◼️ Bouclier Belliciste&nbsp;(bouclier)

  La particularité de ce pack est que coiffe comme cape possèdent un total de&nbsp;10 apparences&nbsp;chacun une fois leur niveau maximum atteint. En achetant le pack complet,&nbsp;vous obtenez également la nourriture permettant de level up au maximum les deux items.

  (Coiffe - 10 apparences)

  (Cape - 10 apparences)
  Le pack en lui-même est obtenable dès&nbsp;550 ogrines. Chaque item peut s'acheter de façon individuelle pour le prix de&nbsp;215 ogrines.
  4. Soki
  Soki&nbsp;est un Chacha suiveur qui vous accompagnera tout au long de votre aventure. Habituellement délaissé par ceux qui l'entourent, ce dernier est si content d'être en votre bonne qu'il vous confèrera un bonus de&nbsp;15 sagesse&nbsp;ainsi que&nbsp;15 PP, génial non ?

  Sachez qu'actuellement ce dernier n'a pas de durée d'utilisation et ne peut pas être déséquipé. Adopter&nbsp;Soki&nbsp;(pour&nbsp;200 ogrines) c'est l'adopter à vie !

  - Cet item disparaîtra de la boutique lundi 30/10 à 13h 🗓️ -
  5. Boucliew de la Weine Dussud
  Le Boucliew de la Weine Dussud fait son retour de&nbsp;façon limitée&nbsp;au prix de&nbsp;225 ogrines&nbsp;qui vous confèrera&nbsp;30 sagesse&nbsp;ainsi que&nbsp;30 Prospection.
  - Cet item disparaîtra de la boutique lundi 30/10 à 13h 🗓️ -
  ----------
  Pour celles et ceux qui ne le savent pas encore, vous avez la possibilité de visualiser ces apparats équipés directement en jeu via la fonction&nbsp;Preview&nbsp;🔎 ou bien directement dans la boutique en consultant l'objet/l'offre en question !
  Nous vous remercions une fois de plus de l'intérêt que vous portez à notre serveur et vous souhaitons une excellente expérience de jeu sur&nbsp;Bubble !</div></div><div class="bottom"><span>28 Oct 2023, 17:07:32</span><a class="btn comment" href="https://play-glory.net/articles/212/rotation-des-apparats-semaine-31-halouine-est-la"><i class="fa fa-comments"></i></a></div></article></div><div class="show"><article><div class="header" style="background-image: url(&quot;https://i.imgur.com/qWAiKaX.jpg&quot;);"><time pubdate="">27<span>Oct</span></time><h2><img src="./template/img/i_news.png">Halouine débarque sur les serveurs Bubble !</h2></div><div class="content"><div class="paragraphe">Adeptes de friandises, bonsoir ! 🍭
  On le sait, maintenant. Ce n’est plus une surprise pour personne. À cette période de l’année, et ce depuis la nuit des temps (2021, quoi), la fête d’Halouine envahit les serveurs&nbsp;Bubble&nbsp;telle une plante carnivore grimpante, pour contaminer aventuriers et aventurières. Il ne fait pas bon traîner du côté du&nbsp;Donjon évènementiel Les souvenirs d’Halouine, lieu de tous les dangers... En plein cœur de l’automne, des Golems, Touitos et autres Malabou peuvent, à tout moment, vous réduire en purée !

  Bien naïfs sont ceux qui croiraient qu’une solide bêche ou qu’un plantoir bien pointu suffiraient à les en débarrasser ! Comment ça, même pas peur ?? Bah ! Vous alors... Vous n’êtes pas du genre à vous laisser intimider à ce qu’on dirait, attendez de découvrir ce qui vous attend…
  Retour de notre donjon évènementiel : Les Souvenirs d'Halouine
  Partez à la rescousse de&nbsp;Pol Prankba&nbsp;dans notre donjon évènementiel afin de réduire au silence son frère Matyass Prankba qui s'apprête à dévoiler la vérité en 15 langues, il abuse un peu le frérot non ? De ce que nous avons entendu Touitos, Golems et même Malabou accompagnés de leurs meilleurs "oui" rôdent dans ce donjon afin de vous ratio et ainsi dévoiler le fait qu'RP aime les pizzas chèvres mi... Bref, censurez-les !

  Parlez à Pol Prankba&nbsp;au&nbsp;Hall des Glorieux&nbsp;afin qu'il vous ouvre la voie dans&nbsp;Les Souvenirs d'Halouine. Faites attention, vous êtes limités une seule entrée par jour, alors allez-y avec la certitude de pouvoir ratio Matyass et en ressortir victorieux !

  Boutique évènementielle et jetons d'Halouine

  Vous voyez ce jeton qui ressemble à un "oui" passé au concasseur&nbsp;? Bah c'est un&nbsp;Jeton d'Halouine&nbsp;! Il vous permet de faire vos emplettes auprès de Pol Prankba. Vous pourrez vous procurer bien des choses comme les fameuses&nbsp;Potions Krosmiques, des objets d'apparats et bien plus encore ! Voici un petit aperçu de ce qui vous attend :

  Mais comment fait-on pour se les procurer, ces "oui" passés au concasseur ? Vous avez 2 moyens de les obtenir :
  ◼️ Première méthode&nbsp;à&nbsp;Vaincre&nbsp;Matyass Prankba, avec un peu de chance il peut vous en lâcher si vous ne le maravez pas brusquement.
  ◼️ Deuxième méthode&nbsp;à&nbsp;Accomplir les&nbsp;quêtes quotidiennes&nbsp;afin d'obtenir 2 jetons. Attention, il faut accomplir&nbsp;toute la liste&nbsp;afin de pouvoir obtenir votre récompense (voir section suivante).
  Battle Pass et quêtes journalières
  Pour les plus novices d’entre vous, le&nbsp;Battle Pass&nbsp;est un système de récompenses directement liées aux différentes quêtes journalières que vous allez réaliser en jeu. Lors de la validation de chacune d’entre elle, vous recevrez un nombre de points qui, une fois cumulés, vous permettront de débloquer des récompenses (thématisées en fonction des évènements se déroulant en jeu) selon différents paliers. Le nombre de points remporté est proportionnel à la difficulté de la quête concernée. De la même façon que pour les récompenses, les quêtes sont thématisées.

  Nouveaux succès

  Comme à chaque grand évènement, nous mettons sur pieds de&nbsp;nouveaux succès&nbsp;qui vous permettront de débloquer un bel&nbsp;ornement&nbsp;!

  Pack Malicieux
  Notre pack évènement est de retour ! Le&nbsp;Pack Malicieux&nbsp;est le résultat d'une mauvaise blague. Contrairement à d'autres de son espèce, vous ferez peur à bon nombre d'aventuriers. Ce dernier contient les items d'apparats non colorables suivants :
  ◼️ Chapeau Malicieux&nbsp;(coiffe)
  ◼️ Cape Malicieuse&nbsp;(cape)
  ◼️ Bouclier Malicieux&nbsp;(bouclier)

  Grimacez, vous êtes « halouinés » !
  ------
  Nous espérons que cet évènement vous plaira, n’oubliez pas de mette à jour votre client de jeu afin d'éviter de rencontrer toute forme de bug et soucis pouvant polluer votre expérience de jeu ! Si des soucis persistent, n'hésitez pas à passer sur Discord, nous ne mangeons ni même malaboutons pas.
  En vous souhaitant une très bonne expérience de jeu ainsi qu’une bonne fête d’Halouine sur les serveurs&nbsp;Bubble&nbsp;🎃</div></div><div class="bottom"><span>27 Oct 2023, 17:56:46</span><a class="btn comment" href="https://play-glory.net/articles/211/halouine-debarque-sur-les-serveurs-bubble"><i class="fa fa-comments"></i></a></div></article></div></div>
