<div id="slider"><div data-slick="slider" class="slick-initialized slick-slider">
    <button class="slick-btn prev slick-arrow" aria-label="Précédant" type="button" style="">
        <span class="fa fa-long-arrow-left">

        </span>
    </button>
    <div class="slick-list draggable">
        <div class="slick-track" style="opacity: 1; width: 2620px;">
            <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="fasle" style="width: 1310px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" tabindex="0">
                <div class="content">
                    <div class="title">Bienvenue sur Glory

                    </div>
                    <p>Redécouvrez <b>Temporis Retro</b> avec son lot d'exclusivités pour une experience de jeu durable !</p>
                    <a class="btn" title="Commencer dès maintenant" tabindex="0" href="https://play-glory.net/download"><span>Commencer dès maintenant</span><i class="fa fa-long-arrow-right"></i></a>
                </div>
                <img src="https://play-glory.net/template_nw/img/slider/i-1.png" alt="">
                <div data-bg="https://play-glory.net/template_nw/img/slider/slide-1.jpg" style="background-image: url(&quot;https://play-glory.net/template_nw/img/slider/slide-1.jpg&quot;);">
                </div>
            </div>
            <div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 1310px; position: relative; left: -1310px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1"><div class="content"><div class="title">Bienvenue sur Glory</div>
            <p>Redécouvrez <b>Temporis Retro</b> avec son lot d'exclusivités pour une experience de jeu durable !</p>
            <a class="btn" title="Commencer dès maintenant" tabindex="-1" href="https://play-glory.net/download"><span>Commencer dès maintenant</span><i class="fa fa-long-arrow-right"></i></a>
        </div>
        <img src="https://play-glory.net/template_nw/img/slider/i-1.png" alt="">
        <div data-bg="https://play-glory.net/template_nw/img/slider/slide-1.jpg" style="background-image: url(&quot;https://play-glory.net/template_nw/img/slider/slide-1.jpg&quot;);"></div>
    </div>
</div>
</div><button class="slick-btn next slick-arrow" aria-label="Suivante" type="button" style=""><span class="fa fa-long-arrow-right"></span></button></div></div>