<section class="wrapper">
  <div class="content"><!---->
    <div class="title">
      <div class="left"><i class="i-user" aria-label="" title=""></i></div>
      <div class="right">
        <h1>Connexion requise</h1>
        <nav aria-label="breadcrumb">
          <ul>
            <li><a href="#" title="Authentification">Authentification</a></li>
          </ul>
        </nav>
      </div>
    </div><!----><!---->
    <div *ngIf="submitted && errors.length > 0" class="mb-4">
      <p *ngFor="let error of errors" class="alert-error">
        <span class="ico_close"></span> {{ error }}
      </p>
    </div>
    <div id="content">
      <div id="join" class="default">
        <div class="ct">
          <h2>Remplissez le formulaire ci-dessous pour vous connecter</h2>
          <form *ngIf="!isLogged" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <label for="email"> Votre Email : </label>
            <input [readonly]="submitting" formControlName="email" [ngClass]="{
              'is-invalid': submitted && loginForm.controls['email'].errors
            }" type="text" id="email">
            <label for="password"> Mot depasse : </label>
            <input formControlName="password" [readonly]="submitting" [ngClass]="{
              'is-invalid': submitted && loginForm.controls['password'].errors
            }" id="password" type="password">
            <div class="block mt-4"><label class="flex items-center"><input type="checkbox"
                  class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                  name="remember"> Rester connecté </label></div><button class="btn"
              style="margin-top: 0px; width: 250px;"><span>Se connecter </span><i
                class="fa fa-long-arrow-right"></i></button><br>
            <div style="margin-top: 5px;"><a class="lost" (click)="navigateToRegister()"><span
                  class="ico_key"></span> Créer un compte </a> - <a class="lost"
                href="https://play-glory.net/forgot-password"><span class="ico_key"></span> Mot de passe oublié ? </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
