<div class="mainlayout">
    <app-header></app-header>
    <main>
        <app-slider></app-slider>
        <div></div>
        <section class="wrapper">
                <div class="content">
                  <div class="title"><div class="left"><i class="i-home" aria-label="" title=""></i></div><div class="right"><h1>Nos dernières actualités</h1><nav aria-label="breadcrumb"><ul><li><a href="#" title="Accueil">Accueil</a></li></ul></nav></div></div>
                  <div id="content"><app-news></app-news></div>
                  <app-stats></app-stats>

                </div>
                <aside>
                    <app-aside></app-aside>
                </aside>
        </section>
        <div id="push"></div>
    </main>
    <app-footer></app-footer>
</div>
