<div id="content">
  <div id="join" class="default">
    <div class="ct">
      <h2>Créer un compte web Glory</h2>
      <div class="paragraphe">
        <p>Créez un compte web Glory afin de gérer l'ensemble de vos comptes de jeu</p>
      </div>
      <br>
      <div *ngIf="submitted && errors.length > 0" class="mb-4">
        <p *ngFor="let error of errors" class="alert-error">
          <span class="ico_close"></span> {{ error }}
        </p>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label for="email"><span>*</span> Email : <small>Vous servira à vous connecter au site.</small></label>
        <input type="text" id="email" formControlName="email">

        <label for="nickname"><span>*</span> Pseudo : <small>Vous identifie sur notre site</small></label>
        <input type="text" id="nickname" formControlName="pseudo">


        <label for="password"><span>*</span> Mot de passe <small>Utilisez un mot de passe sécurisé que vous n'avez
            jamais utilisé sur d'autres sites web</small></label>
        <input type="password" id="password" formControlName="password">


        <label for="password_confirmation" style="padding-bottom: 10px;"><span>*</span> Confirmer mot de passe :
        </label>
        <input type="password" id="password_confirmation" formControlName="confirmPassword">


        <label for="secret_question"><span>*</span> Question secrète : <small>Choisissez une question secrète robuste. (
            Sera utilisée sur vos comptes de jeu )</small></label>
        <input type="text" id="secret_question" formControlName="question_secrete">


        <label for="secret_answer"><span>*</span> Réponse secrète : <small>Choisissez une réponse secrète robuste. (
            Sera utilisée sur vos comptes de jeu )</small></label>
        <input type="text" id="secret_answer" formControlName="reponse_secrete">

        <br>
        <small>En créant un compte web <strong>Glory</strong>, vous acceptez nos <a target="_blank"
            href="https://play-glory.net/tos"><strong><u>Conditions d'utilisation</u></strong></a></small>
        <br>
        <br>
        <button class="btn"><span>Créer un compte web Glory</span><i class="fal fa-long-arrow-right"></i></button>
      </form>
    </div>
  </div>


</div>
